*{
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#624FF0, #3CD0FA);
  color: white;
}

.container {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  
 

}

.container .game {
  width: 80%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container h1 {
  margin-bottom: 40px;
}

.container .end {
  margin-bottom: 40px;
}

.container .winner {
  margin-top: 40px;
}

.container .grid {
  width: 400px;
  height: 440px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.container .grid button {
  height: 150px;
  font-size: 40px;
  font-weight: 700;

  cursor: pointer;

  background-color: white;
  outline: none;
 
}

.container .grid button:hover {

}

.container .menu {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;


  background-color: #00a2ff;

  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  
}

.container .menu button {
  width: 100%;
  height: 50px;
  
  outline: none;
  appearance: none;
  border: none;
  
  cursor: pointer;
  
  background-color: #00a2ff;
  
  color: white;
  font-size: 24px;
  font-weight: 700;
  
  border-top-left-radius: 16px;

  transition: all 0.5s;
}

.container .menu button:hover {
  background-color: #119ae9;
}

.container .menu button:active {
  border: 0.1px solid white;
}

.container .menu .statistics {
  width: 100%;
  height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: black;

  margin-top: 40px;
}

.container .menu .statistics p {
  width: 100%;
  height: 40px;

  color: white;

  
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 24px;

  padding: 8px;
}
.container .menu .statistics p span {

  font-size: 22px;
  font-weight: 700;
  margin-right: 16px;
}